
@media (max-width: 1440px) {
    .container {
        width: 768px;
    }
    .main-title {
        font-size: 77px;
        padding: 70px 0 70px 20px;
    }
    .timer-title {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .timer-wrapper {
        margin-bottom: 60px;
    }
    .countdown-time {
        font-size: 40px;
        margin-bottom: 4px;
    }
    .countdown-text {
        font-size: 14px;
    }
    .parts-item__title {
        font-size: 24px;
    }
    .parts-item {
        margin-bottom: 80px;
    }
    .parts-link {
        width: 200px;
        font-size: 20px;
        padding: 20px 10px;
        margin-bottom: 80px;
    }

}
@media (max-width: 967px) {
    .container {
        width: 70%;
    }
    .timer,
    .main {
        width: 70%;
    }
    .main-title {
        font-size: 56px;
        padding: 60px 0 60px 20px;
    }
    .timer-title {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .parts-item__title {
        font-size: 20px;
        padding: 0 134px 0 22px;
    }
    .parts-item__video {
        margin-bottom: 20px;
    }
    .parts-item {
        margin-bottom: 80px;
    }
    .parts-link {
        width: 260px;
        padding: 20px 0;
        font-size: 18px;
        margin-bottom: 80px;
    }
    .footer-text {
        margin-bottom: 80px;
    }
    .footer-link {
        width: 100%;
    }
    .footer-link__item {
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    .main {
        min-height: 640px;
        height: 100vh;
    }
    .main-title {
        text-align: center;
        font-size: 56px;
        padding: 220px 0 120px 0;
    }
    .main-title::before {
        top: 30px;
        right: 50%;
        width: 90px;
        height: 160px;
        transform: translateX(50%);
    }
    .timer-title {
        font-size: 16px;
        padding-bottom: 30px;
    }
    .countdown-time {
        font-size: 36px;
    }
    .countdown-text {
        font-size: 12px;
    }
    .parts-item__video {
        margin-bottom: 20px;
    }
    .parts-item__title {
        font-size: 16px;
        padding: 0 0 0 20px;
    }
    .parts-link {
        width: 180px;
        padding: 16px 0;
        font-size: 16px;
    }
    .footer-link {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-link__item {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .footer-text {
        font-size: 12px;
        margin-bottom: 40px;
    }
    
}
@media (max-width: 374px) {
    .main-title {
        font-size: 40px;
        padding: 220px 0 80px 0;
    }
    .countdown-time {
        font-size: 28px;
    }
    .parts-item__title {
        font-size: 14px;
    }
}

